<head>
{% set title = '' %}
  {% for navitem in navitems.navs %}
    {% if navitem.url == navitems.active %}
      {% set title = navitem.name %}
    {% endif %}
  {% endfor %}
  {% if title == '' %}
    {% set title = page_title %}
  {% endif %}
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/siteglobal.css">
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head> 