<div class="row mt-4">
  <div class="col-md-4 offset-md-4">
    <form id="signin-form" method="post" action="login.php">
      <h4>Sign in to your account</h4>
      <div class="form-group">
        <label for="email">Email Address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="you@example.com" autocomplete="off">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="minimum 8 characters" autocomplete="new-password">
      </div>
      <div class="d-flex mt-4">
        <button class="btn btn-primary w-100" type="submit">Sign in</button>
      </div>
      <div class="mt-2 text-center">
        <p>Don't have an account? <a href="register.php">Register</a>
      </div>
    </form>
  </div>
</div>