<div class="row mt-4">
  <div class="col-md-4 offset-md-4">
    <h4>Log out of your account?</h4>
    <form action="logout.php" method="post">
    <input type="hidden" name="action" value="logout">
    <button class="btn btn-primary">Log out</button>
    </form>
  </div>
</div>