<div class="navbar navbar-dark bg-primary navbar-expand-lg sticky-top">
    <a href="index.php" class="navbar-brand">Shop</a>
    <button class="navbar-toggler" data-target="#main-nav" data-toggle="collapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-nav">
        <nav class="nav navbar-nav">
            <a class="nav-link" href="index.php">Home</a>
            <a class="nav-link" href="register.php">Register</a>
            <a class="nav-link" href="login.php">Login</a>
        </nav>
    </div>
</div>