<!doctype html>
<html>
  {% include 'partials/head.twig' %}
  <body>
    {% include 'partials/navigation.twig' %}
    <main class="container-fluid">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <form id="register-form" action="register.php" method="post">
            <h1>Register for an account</h1>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" id="email" name="email" placeholder="you@example.com" class="form-control">
              {% if register.errors.email %}
                <span class="text-danger">{{register.errors.email}}</span>
              {% endif %}
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" placeholder="minimum 8 characters" class="form-control">
              {% if register.errors.password %}
                <span class="text-danger">{{register.errors.password}}</span>
              {% endif %}
            </div>
            <button class="btn btn-primary" type="submit">Register</button>
            {% if register.success %}
              <div class="alert alert-success">
                Your account has been created!
              </div>
            {% endif %}
          </form>
        </div>
      </div>
    </main>
  </body>
</html>